body {
    background-color: black;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: rgb(25, 25, 25);
    width: 100%;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-name {
    margin-top: auto;
    margin-bottom: auto;
}

.header-name a {
    text-decoration: none;
    color: white;
}

.header-navbar {
    list-style-type: none;
    margin: 0px;
    padding: 16px;
}

.header-navbar li {
    float: left;
    margin: 4px;
    width: 120px;
}

.header-navbar a {
    background-color: rgb(127, 127, 127);
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.header-navbar a:hover {
    background-color: rgb(191, 191, 191);
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1200px;
    max-width: 90%;
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
    flex-shrink: 0;
}

main a {
    color: #9ad8e6;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.infobox img {
    max-width: 1200px;
}